/* Colors */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$primary-secondary-grad: linear-gradient(0deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 85%);
$secondary-primary-grad: linear-gradient(345deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
