* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*style body*/
body {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    width: 100%;
}

/*style incons*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    header {
        display: inline-block;
        width: 100%;
        position: relative;
    }
    fa-arrow-left{
        color: #5A5A5A;
        position: absolute;
        top: 30px;
        left: 30px;
        margin: 0px;
    }
    
    header img {
        display: block;
        width: 50%;
        margin: 15px auto;
    }
    
        main {
        background: #F2F2F2;
        padding: 50px 10px 0px 10px;
        margin: 0px;
    }
    
    main h3 {
        margin: 0px;
    }

    hr {
        width: 50px;
        border: 2px solid #99E2D0;
        margin: 5px 0px 20px 0px;
    }

    main a {
        text-decoration: none;
    }
    
    .item-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        margin: 0px;
        padding: 0px 0px 50px 0px;
        grid-gap: 20px;
    }
    
    .item-card {
        display: grid;
        grid-template-columns: 3fr 1fr;
        height: 75px;
        width: 300px;
        border-radius: 15px;
        justify-content: center;
        text-align: justify;
        text-decoration: none;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
        position: relative;
    }
    
    .card-title {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        padding: 10px;
    } 

    price-order-check {

    }

    item-price {
        height: 10%;
    }

    
    section {
        background-color: #F2F2F2;
        width: 100%;
        align-content: center;
        text-align:center;
    }
    
    .order-btn {
        background: linear-gradient(345deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        color: white;
        border: none;
        padding: 15px 75px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 25px;
        box-shadow: 0px 11px 9px -8px rgba(0,0,0,0.23);
        margin-bottom: 50px;
}

    
    footer {
        width: 100%;
        background: #5A5A5A;
        color: white;
        align-content: justify;
        padding: 20px;
        line-height: 1.8;
    }
    
    footer img {
        filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
        width: 100px;
        border: none;
        margin-bottom: 10px;
    }
    
    footer a {
        text-decoration: none;
        color: white;
    }
}