* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*style body*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.79em;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/*style incons*/

@media only screen and (min-device-width: 320px) {
    header {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        width: 100%;
        position: relative;
    }
    
    .return-home-arrow {
        display: inline-block;
        margin: auto;
    }
    
    .fa-arrow-left {
        font-size: 1.75em;
    }
    
    header img {
        display: block;
        width: 50%;
        margin: 15px auto;
    }
    
    #menu-page-img {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }
    
    .bastille-img {
        background-image: url(../../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .le-gourmand-img {
        background-image: url(../../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .the-enchanted-plate-img {
        background-image: url(../../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .the-full-palette-img {
        background-image: url(../../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    main {
        background: #F2F2F2;
        padding: 30px 13px 0px 13px;
        margin: -50px 0px 0px 0px;
        border-radius: 35px 35px 0px 0px;
    }
    
    .menu-title-like-grid {
        display: grid;
        grid-template-columns: 0% 75% 25%;
        margin-bottom: 30px;
    }
    .menu-title {
        font-family: 'Shrikhand', cursive;
        padding-left: 10px;
        text-align:justify;
    } 
    
    /*      CHECKBOX         */
    .like-checkbox {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    input[type="checkbox"]{
        height: 15px;
        width: 15px;
        background-color: grey;
        position: relative;
        outline: none;
        box-shadow: none;
        transform: rotate(45deg);
        -webkit-appearance: none;
    }
    
    input[type="checkbox"]:before{
        position: absolute;
        content: "";
        background-color: grey;
        height: 60%;
        width: 100%;
        top: -55%;
        border-radius: 100px 100px 0 0;
    }
    
    input[type="checkbox"]:after{
        position: absolute;
        content: "";
        background-color: grey;
        height: 60%;
        width: 100%;
        transform: rotate(-90deg);
        border-radius: 100px 100px 0 0;
        top: 20%;
        right: 75%;
    }
    
    input[type="checkbox"]:checked,
    input:checked[type="checkbox"]:before,
    input:checked[type="checkbox"]:after{
        background-color: #FF79DA;
    }
    /*                       */
    
    main h2 {
        font-size: 1.76em;
    }
    
    main h3 {
        margin: auto auto auto 0px;
    }
    
    main p {
        margin: auto auto auto 0px;
        font-weight: 300;
    }

    hr {
        width: 50px;
        border: 2px solid #99E2D0;
        margin: 5px 0px 20px 0px;
    }
    
    .item-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        margin: 0px;
        padding: 0px 0px 50px 0px;
        grid-gap: 20px;
    }
    
    .item-card {
        display: grid;
        grid-template-columns: 3fr 1fr;
        height: 75px;
        width: 300px;
        border-radius: 15px;
        justify-content: center;
        text-decoration: none;
        box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
        position: relative;
        background-color: white;
    }
    
    .card-title {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 10px;
        height: 75px;
    } 

    .price-order-check {
        width: 100%;
    }

    .item-price {
        font-size: bold;
        text-align: center;
        padding-top: 27px;
    }

    
    .btn-section {
        background-color: #F2F2F2;
        text-align:center;
    }
    
    .order-btn {
        background: linear-gradient(345deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        color: white;
        border: none;
        padding: 15px 75px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 25px;
        box-shadow: 0px 11px 9px -8px rgba(0,0,0,0.23);
        margin-bottom: 50px;
}

    
    footer {
        width: 100%;
        background: #5A5A5A;
        color: white;
        align-content: justify;
        padding: 20px;
        line-height: 1.8;
    }
    
    footer img {
        filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
        width: 100px;
        border: none;
        margin-bottom: 10px;
    }
    
    footer a {
        text-decoration: none;
        color: white;
    }
}