* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*style body*/
body {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    width: 100%;
}

/* Preloader */
@keyframes fade-out {
    0% {
        opacity: 1;
        z-index: 1001;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}
#website-overlay{
  text-align:center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    height: 100%;
    width: 100%;
  opacity: 100%;
  background-color: white;
  animation: fade-out 3s;
}

.loader-wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  margin: auto;
}

.loader {
  display: inline-grid;
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

.loader-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 6px solid black;
  background-color: black;
}

.inner-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  border: 6px solid #99E2D0;
  border-radius: 50%;
  border-bottom: 6px solid transparent;
  animation: animate1 1s linear infinite;
}
.middle-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border: 6px solid #FF79DA;
  border-radius: 50%;
  border-top: 6px solid transparent;
  animation: animate2 1s linear infinite;
}
.outer-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 140px;
  height: 140px;
  border: 6px solid #9356DC;
  border-radius: 50%;
  border-bottom: 6px solid transparent;
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0%  {
    transform: rotate(0deg) ;
  }
  100%  {
    transform: rotate(360deg) ;
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(0deg) ;
  }
  100% {
    transform: rotate(-360deg);
  }
}

#loaded {
      position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 100%;
  background-color: white;
  height: 100%;
  width: 100%;
  animation: fade-in 1.5s linear 1.5s 1 none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        z-index: -1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        z-index: 1001;
    }
}

/*                    */

header {
    display: block;
    width: 100%;
}

header img {
    display: block;
    margin: 15px auto;
    height: 35px;
}

nav {
    display: inline-block;
    background: #f2f2f2;
    height: auto;
    width: 100%;
    box-shadow: inset 0 5px 10px -5px grey;
    text-align: center;
}

.navbar {
    float: none;
    display: inline-block;
    justify-content: center;
    align-content: center;
}

.fa-map-marker-alt {
    font-size: 1em;
    color: #666666;
}

input[type="text"] {
    text-align: left;
    font-size: 1em;
    height: auto;
    padding: 10px;
    width: 150px;
    font-weight: bold;
    border: none;
    background: transparent;
    margin: 0px auto;
    color: #666666;
}

input:focus {
    outline: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.book-it-section {
    background-color: #fafafa;
    text-align: center;
    width: 100%;
    padding: 30px 0px;
}

.book-it-section h2 {
    font-weight: 900;
}

.book-it-section p {
    color: grey;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.explore-btn {
    background: linear-gradient(
        345deg,
        rgba(147, 86, 220, 1) 0%,
        rgba(255, 121, 218, 1) 100%
    );
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    box-shadow: 0px 11px 9px -8px rgba(0, 0, 0, 0.23);
    margin: 20px 20px;
}

.explore-btn:hover {
    opacity: 75%;
}

.explore-btn:focus {
    outline: none;
}

.how-to-section {
    padding: 30px 0px 30px 0px;
    width: 100%;
    background-color: white;
}

.how-to-section h2 {
    margin-left: 20px;
}

.neumorphic-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 20px 0px;
    font-size: .98em;
    justify-content: center;
}

.how-to-section li {
    list-style: none;
    position: relative;
    height: 75px;
    min-width: 284px;
    padding: 30px 25px;
    margin: 10px 25px;
    justify-content: flex-start;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 13px 13px 26px #d9d9d9, -13px -13px 26px #ffffff;
}

.badge {
    position: absolute;
    left: -10px;
    top: 25px;
    padding: 3px 8px;
    border-radius: 50%;
    background: #9356dc;
    color: white;
    font-size: 0.9em;
    font-weight: 900;
}

.fa-fw {
    width: 20px;
}

.how-to-section h2 {
    font-weight: 900;
}

.how-to-section p {
    font-weight: 900;
}

main {
    background: #fafafa;
    padding: 30px 10px;
}

main h2 {
    margin-left: 10px;
}

main h4 {
    margin-bottom: 3px;
}

main p {
    font-weight: 300;
}

main a {
    text-decoration: none;
    color: black;
}

main a:hover {
    transform: scale(1.1);
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0px 0px;
    padding: 20px 0px;
    grid-gap: 30px;
}

.card {
    display: grid;
    grid-template-rows: 165px 60px;
    background-repeat: no-repeat;
    background-position: bottom 40px right 0px;
    height: 225px;
    width: 300px;
    border-radius: 15px;
    justify-content: center;
    text-align: justify;
    align-content: center;
    text-decoration: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
}

.card-img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    align-self: end;
    overflow: hidden;
}

#the-enchanted-plate-img {
    align-self: center;
    margin-bottom: 50px;
    width: 300px;
}

.new-text-block {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #99e2d0;
    color: #107c60;
    padding: 5px 20px;
}

.card-text-box {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    background: white;
    color: black;
    width: 300px;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
}

/*      CHECKBOX         */
.like-checkbox {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"] {
    height: 15px;
    width: 15px;
    background-color: #999999;
    position: relative;
    outline: none;
    box-shadow: none;
    transform: rotate(45deg);
    -webkit-appearance: none;
}

input[type="checkbox"]:before {
    position: absolute;
    content: "";
    background-color: #999999;
    height: 60%;
    width: 100%;
    top: -55%;
    border-radius: 100px 100px 0 0;
}

input[type="checkbox"]:after {
    position: absolute;
    content: "";
    background-color: #999999;
    height: 60%;
    width: 100%;
    transform: rotate(-90deg);
    border-radius: 100px 100px 0 0;
    top: 20%;
    right: 75%;
}

input[type="checkbox"]:hover,
input:hover[type="checkbox"]:before,
input:hover[type="checkbox"]:after {
    background-color: #666666;
}

input[type="checkbox"]:active,
input:active[type="checkbox"]:before,
input:avtive[type="checkbox"]:after {
    background-color: #ff79da;
}
input[type="checkbox"]:checked,
input:checked[type="checkbox"]:before,
input:checked[type="checkbox"]:after {
    background-color: #ff79da;
}
/*                       */

#the-enchanted-plate-img {
    align-self: center;
    margin-bottom: 50px;
    width: 300px;
}

footer {
    width: 100%;
    background: #5a5a5a;
    color: white;
    padding: 20px;
    line-height: 1.8;
}

footer ul {
    display: grid;
    grid-template-rows: repeat(5, 30px);
    grid-template-columns: 1fr;
}

footer li {
    display: inline-block;
}

footer img {
    filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(237deg)
        brightness(104%) contrast(104%);
    width: 100px;
    border: none;
    margin: 6px 0px 5px 0px;
}

footer a {
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 755px) and (max-width: 2000px) {
    footer ul {
        grid-template-rows: 1fr;
        grid-template-columns: 142px 223px 203px 85px 56px;
        justify-content: center;
    }
}