* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*style body*/
body {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    width: 100%;
}

/*style incons*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    /*style header*/
    header {
        display: block;
        width: 100%;
    }

    header img {
        display: block;
        width: 50%;
        margin: 15px auto;
    }

    nav {
        display: inline-block;
        background: #f2f2f2;
        height: auto;
        width: 100%;
        box-shadow: inset 0 5px 10px -5px grey;
        text-align: center;
    }

    .navbar {
        float: none;
        display: inline-block;
        justify-content: center;
        align-content: center;
    }

    .fa-map-marker-alt {
        font-size: 1em;
        color: grey;
    }

    input[type="text"] {
        text-align: left;
        font-size: 1em;
        height: auto;
        padding: 10px;
        width: 150px;
        font-weight: bold;
        border: none;
        background: transparent;
        margin: 0px auto;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .book-it-section {
        background-color: #fafafa;
        text-align: center;
        width: 100%;
        padding: 30px 0px;
    }

    .book-it-section h2 {
        font-weight: 900;
    }

    .book-it-section p {
        color: grey;
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
    
    .explore-btn {
        background: linear-gradient(345deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        color: white;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 25px;
        box-shadow: 0px 11px 9px -8px rgba(0,0,0,0.23);
        margin: 20px 20px;
    }

    .how-to-section {
        margin: 30px 10px;
        width: 100%;
    }
    
    .how-to-section h2 {
        margin-left: 10px;
    }
    
    .neumorphic-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0px;
        font-size: 1em;
    }

    .how-to-section li {
        list-style: none;
        position: relative;
        height: 75px;
        width: 300px;
        padding: 30px 25px;
        margin: 10px 0px;
        justify-content: flex-start;
        border-radius: 25px;
        background: #ffffff;
        box-shadow:  13px 13px 26px #d9d9d9, -13px -13px 26px #ffffff;

    }
    
    .badge {
      position: absolute;
      left: -10px;
      top: 25px;
      padding: 3px 8px;
      border-radius: 50%;
      background: #9356DC;
      color: white;
      font-size: .9em;
      font-weight: 900;
    }
    
    .fa-fw {
        width: 20px;
    }

    .how-to-section h2 {
        font-weight: 900;
    }

    .how-to-section p {
        font-weight: 900;
    }
    
    main {
        background: #fafafa;
        padding: 30px 10px;
    }
    
    main h2 {
        margin-left: 10px;
    }
    
    .restaurant-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        margin: 0px 0px;
        padding: 20px 0px;
        grid-gap: 30px;
        }
    
    main a {
        text-decoration: none;
    }
    
    .card {
        display: grid;
        grid-template-rows: 165px 60px;
        background-repeat: no-repeat;
        background-position: bottom 40px right 0px;
        height: 225px;
        width: 300px;
        border-radius: 15px;
        justify-content: center;
        text-align: justify;
        align-content: center;
        text-decoration: none;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
        overflow: hidden;
        position: relative;
    }
    
    .card-img {
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        align-self: end;
    }
    
    .new-text-block {
       position: absolute;
       top: 10px;
       right: 10px;
       background-color: #99E2D0;
       color: #107C60;
       padding: 5px 20px;
     }
    
    .card-text-box {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        background: white;
        color: black;
        width: 300px;
        border-radius: 0px 0px 15px 15px;
        padding: 10px;
        
    } 
    
    /*      CHECKBOX         */

    .heart-checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    input[type="checkbox"] {
        display: none;
    }


    input[type="checkbox"] + label {
        position: relative;
        padding-left: 35px;
        display: inline-block;
        font-size: 16px;
    }

    input[type="checkbox"] + label:before {
        font-family: "Font Awesome 5 Free";
        content: "\f004";
        top: -11px;
        left: -8px;
        border: 1px solid transparent;    
        padding: 10px;
        border-radius: 3px;
        display: block;
        position: absolute;
        transition:  .5s ease;
    }



    input[type="checkbox"]:checked + label:before {
        border: 1px solid transparent;
        background-color: transparent;
    }

    input[type="checkbox"]:checked + label:after {
        font-family: "Font Awesome 5 Free";
        content: "\f004";
        font-size: 18px;
        position: absolute;
        top: -1px;
        left: 1px;
        color: red;
        transition:  .5s ease;
    }
    /*                       */
    
    .like-btn {
        color: darkgrey;
    }
    
    .like-btn:active {
        color: red;
    }
    
    #the-enchanted-plate-img {
        align-self: center;
        margin-bottom: 50px;
    }
    
    footer {
        width: 100%;
        background: #5A5A5A;
        color: white;
        align-content: justify;
        padding: 20px;
    }
    
    .footer-title {
        font-family: 'Shrikhand', cursive;
        font-weight: 100;
    }
    
    footer a {
        text-decoration: none;
        color: white;
    }
    
}
